.dice-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}
  
.saved-dice {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 450px;
  height: 150px;
  margin-top: 30px;
}
  
.saved-single-dice {
  border: 1px solid gray;
  width: 80px;
  height: 80px;
}
  
.roll-dice-box {
  border: 5px solid dodgerblue;
  width: 450px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
  
.rollers {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
  
.one-dice-box {
  border: 1px solid transparent;
  width: 80px;
  height: 80px;
}
  
.rolling-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  margin-top: 30px;
}

.roll-btn {
  background: navy;
  color: gold;
}

.die1 {
  background-image: url("../../images/dice-images/dice1.png");
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.die2 {
  background-image: url("../../images/dice-images/dice2.png");
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.die3 {
  background-image: url("../../images/dice-images/dice3.png");
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.die4 {
  background-image: url("../../images/dice-images/dice4.png");
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.die5 {
  background-image: url("../../images/dice-images/dice5.png");
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.die6 {
  background-image: url("../../images/dice-images/dice6.png");
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.rolls-left {
  font-size: 18px;
  font-family: 'Press Start 2P', cursive;
  margin-top: 10px;
}

.who-won {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  margin: 35px 20px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  color: red;
  border: 1px solidd black;
}

.again-btn {
  background: navy;
  color: gold;
  margin-top: 10px;
}